<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

.is-done {
    text-decoration: line-through;
    background-color: green;
}

.is-trashed {
    text-decoration: underline;
    background-color: red;
}

.is-open {
    background-color: #C8D0CE;
}

.btn-done {
  border-radius: 50%;
  padding: 5px 10px;
  background-color: #42b983;
}

.btn-trash {
  border-radius: 50%;
  padding: 5px 10px;
  background-color: #c72d2d;
}

.btn-open {
  border-radius: 50%;
  padding: 5px 10px;
  background-color: #16EAB5;
}
</style>
