<template>
    <div>
        <form @submit="onSubmit">
            <input type="text" v-model="description" placeholder="Add issue...">
            <input type="submit" value="Add" class="btn">
        </form>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'AddIssue',
  data () {
    return {
      description: ''
    }
  },
  methods: {
    ...mapActions(['addIssue']),
    onSubmit (e) {
      e.preventDefault()
      this.addIssue(this.description)
    }
  }
}
</script>

<style scoped>
  form {
    display: flex;
    padding: 15px;
  }

  input[type="text"] {
    flex: 10;
    padding: 5px;
    border: 1px solid blue;
  }

  input[type="submit"] {
    flex: 2;
  }
</style>
