<template>
    <div id="nav">
      <router-link to="/issues/open">Open</router-link> |
      <router-link to="/issues/done">Done</router-link> |
      <router-link to="/issues/trashed">Trashed</router-link>
    </div>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style scoped>
#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
