<template>
  <div class="done">
    <h1>Done Issues</h1>
    <Header />
    <div class="issue" :key="issue.id" v-for="issue in allIssues.filter((x) => x.done)" v-bind:class="{'is-done': issue.done, 'is-trashed': issue.trashed, 'is-open': issue.open}">
      <button class="btn-open" @click="markOpen(issue.id)" title="Mark open!">O</button>
      <span contenteditable="plaintext-only" class="description" v-on:keydown.enter="save($event, issue)">{{ issue.description }}</span>
      <button class="btn-trash" @click="markTrashed(issue.id)" title="Mark trashed!">X</button>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Header from '../components/Header'
export default {
  name: 'issues',
  components: {
    Header
  },
  methods: {
    ...mapActions(['markTrashed', 'markDone', 'markOpen', 'updateIssue']),
    save (e, issue) {
      e.preventDefault()
      issue.description = e.target.innerText
      this.updateIssue(issue)
    }
  },
  computed: mapGetters(['allIssues'])
}
</script>

<style scoped>
#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
